<!DOCTYPE html>
<html>
  <head>
    <title>CampersLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">CampersLife</a></h1>
        <div class="user_nav grid-6">
          <% if user_signed_in? %>
            <li><%= link_to "投稿する", new_post_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= current_user.nickname%>さんの<%= link_to "マイページ", "#" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright CampersLife 2023.
      </p>
    </footer>
  </body>
</html>
